#main-div {
    padding: 20px 20px;
    box-sizing: border-box;
    /*margin: 0;*/
}
.menu-bottom {
    height: 30px;
    background-color: rgb(224,68,57);
    width: 100%;
}
#main-div .text {
    text-align: center;
}
#main-div .text p {
    color: #666;
    font-size: 16px;
}
video {
    max-height: 800px;
}
@media screen and (max-width:1025px){
    #main-div {
        min-height: 1000px;
    }
}
@media screen and (max-width:770px) {
    #main-div {
        min-height: 200px;
    }
}