.banner-top {
    height: 800px !important;
}
#main-div {
    padding: 20px 200px;
    background-color: #f4f4f4;
    z-index: 9999;
}
#main-div .row{
    background-color: #fff;
    margin-bottom: 20px !important;
}
#main-div .banner-news-div {
    padding: 0;
}
#main-div .banner-news-div .row{
    width: 100%;
    margin: 0;
}
#main-div .banner-news {
    height: 400px;
}
.banner-news-btn {
    width: 100%;
    position: relative;
    text-align: center;
}
.banner-news-btn a {
    border: none;
    color: #333;
}
.banner-news-btn a img {
    width: 70%;
}
#main-div .tab-news {
    padding: 0 50px;
}
.tab-news-ul li {
    text-align: center;
    width: 25%;
}
#main-div .tab-news-ul li a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #a5a5a5;
    border: none;
    border-bottom: 2px solid #e2e2e2;
}
#main-div .tab-news-ul li a:hover {
    color: #E04439;
    background-color: #fff;
    border-bottom: 2px solid #E04439;
}
#main-div .tab-news-ul .active a {
    color: #E04439;
    border-bottom: 2px solid #E04439;
}
.tab-news-content li {
    border: none;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 18px;
}
.tab-news-content li span {
    background-color: #fff;
    color: #a5a5a5;
    font-weight: 300;
    font-size: 16px;
}
.tab-news-content li a {
    color: #666;
    white-space: pre-wrap;
    width: 75%;
    overflow: hidden;
    display: inline-block;
}
#main-div .tip-right {
    padding: 40px;
    color: #fff;
}
.tip-right .hr {
    width: 50px;
    border: 1px solid #fff;
    height: 1px;
    margin-bottom: 50px;
}
.tip-right h1 {
    line-height: 45px;
}
.tip-right-btngroup {
    margin-bottom: 40px;
}
.tip-right-btngroup button {
    background-color: #E04439;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.tip-right img {
    width: 50px;
}
.tab-class-header {
    font-weight: 900;
    color: #333333;
    font-size: 30px;
}
#main-div .tab-class-ul {
    margin: 20px 0;
    border: none;
}
#main-div .tab-class-ul li a {
    border: none;
    color: #333;
    font-size: 16px;
}
#main-div .tab-class-ul li a:hover{
    background-color: #fff;
    color: #E04439;
    border-bottom: 1px solid #E04439;
}
#main-div .tab-class-ul .active a {
    color: #E04439;
    border-bottom: 1px solid #E04439;
}
.tab-class-content {
    margin-top: 40px;
}
#main-div .tab-class-img {
    padding: 0;
    border: none;
}
#main-div .tab-class-img img {
    width: 100%;
    height: 300px;
}
.tab-class-hr {
    width: 80px;
    border: 1px solid #E04439;
    height: 1px;
    margin-bottom: 50px;
}
@media screen and (max-width:1810px) {
    #main-div .community-div h1 {
        line-height: 30px;
        font-size: 28px;
    }
    .tip-right-btngroup {
        margin-bottom: 30px;
    }
}
@media screen and (max-width:1760px) {
    .tip-right .hr {
        margin-bottom: 20px;
    }
    .tab-class-hr {
        margin-bottom: 20px;
    }
    .tip-right h1 {
        line-height: 35px;
        font-size: 30px;
    }
    .tip-right-btngroup {
        margin-bottom: 30px;
    }
    .tip-right img {
        width: 40px;
    }
    #main-div .knowledge-div h1 {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #main-div .community-div h1 {
        line-height: 25px;
        font-size: 25px;
    }
    #main-div .community-div .tip-right-btngroup {
        margin-bottom: 10px;
    }
    .tab-news-content li {
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
    }
}
@media screen and (max-width:1520px) {
    #main-div {
        padding: 20px 100px;
    }
    .tip-right h1 {
        line-height: 30px;
        font-size: 25px;
    }
    .tip-right-btngroup {
        margin-bottom: 20px;
    }
    .tip-right-btngroup button {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tip-right img {
        width: 40px;
    }
    .tab-news-content li {
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
    }
}
@media screen and (max-width:1305px){
    #main-div {
        padding: 20px 20px;
    }
    .tip-right h1 {
        line-height: 20px;
        font-size: 22px;
    }
    .tip-right-btngroup {
        margin-bottom: 10px;
    }
    .tip-right-btngroup button {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tip-right img {
        width: 30px;
    }
    #main-div .community-div h1 {
        line-height: 18px;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #main-div .community-div .tip-right-btngroup {
        margin-bottom: 10px;
    }
}
@media screen and (max-width:1025px){
    .tab-class-header {
        font-size: 30px;
    }
    #main-div {
        padding: 20px 20px;
    }
    .tip-right h3 {
        font-size: 20px;
    }
}
@media screen and (max-width:770px) {
    #main-div .tip-right h1 {
        line-height: 20px;
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .tip-right-btngroup {
        margin-bottom: 10px;
    }
    .tip-right-btngroup button {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tab-news-content li a {
        color: #666;
        white-space: pre-wrap;
        width: 60%;
        overflow: hidden;
        display: inline-block;
    }
    .banner-top {
        height: 350px !important;
    }
    #main-div .banner-news-div {
        padding: 10px;
    }
    #main-div .banner-news {
        height: 300px;
    }
    #main-div {
        padding: 0;
        background-color: #f5f5f5;
    }
    #main-div .row{
        width: 100%;
        margin: 0;
    }
    .banner-news-btn button {
        border: none;
        width: 33.33%;
        color: #333;
    }
    .banner-news-btn button img {
        width: 50%;
    }
    #main-div .tab-news {
        padding: 0 20px;
    }
    .tab-news-ul li a {
        font-size: 15px;
    }
    .tab-news-content li {
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
    }
    .tab-news-content li span {
        font-size: 12px;
    }
    .tab-news-content li a {
        color: #666;
    }
    .tip-right h3 {
        font-size: 18px;
    }
    #main-div .tab-class-img img {
        height: 200px;
    }
}